QMenuBar {
    background-color: palette(window);
}

QFrame#item-view QTextEdit {
    border: none;
    border-top: 1px solid palette(base);
}

QDialog QLineEdit {
    background-color: palette(base);
}

QDialogButtonBox QPushButton {
    background-color: palette(button);
    color: palette(button-text);
    border: 1px solid palette(mid);
    min-width: 30px;
    padding: 5px;
}